<article id="archive">
	<h1>Архив</h1>
	<ul>
	{% for archived_event in site.archive %}
		<li>
			<a class="logo" href="{{ page.base_uri }}/archive/{{ archived_event.event }}">
				<img src="/system/uploads/event/logo/57/thumb_image.png?1726468839?1726468839"
					alt="{{ archived_event.conference }} {{ archived_event.event }}" />
			</a>
		<a href="{{ page.base_uri }}{{ archived_event.url }}">{{ archived_event.conference }} {{ archived_event.event }}</a>
		<p>{{ archived_event.formatted_date }}, {{ archived_event.venue_name }}</p>
		</li>
	{% endfor %}

    <li>
      <a class="logo" href="https://ruseconf.com/archive/2019">
	<img src="/system/uploads/event/logo/37/thumb_image.png?1724174210?1724174210" alt="Thumb image" />
      </a>
      <a href="https://ruseconf.com/archive/2019">RuseConf 2019</a>
      <p>28 Септември 2019, Зала 2.101 на Русенски университет „Ангел Кънчев“</p>
    </li>
    <li>
      <a class="logo" href="https://ruseconf.com/archive/2018">
	<img src="/system/uploads/event/logo/32/thumb_image.png?1543168169?1543168169" alt="Thumb image" />
      </a>
      <a href="https://ruseconf.com/archive/2018">RuseConf 2018</a>
      <p>24 Ноември 2018, Зала 2.101 на Русенски университет „Ангел Кънчев“</p>
    </li>
    <li>
      <a class="logo" href="https://ruseconf.com/archive/2017">
	<img src="/system/uploads/event/logo/27/thumb_image.png?1513334569?1513334569" alt="Thumb image" />
      </a>
      <a href="https://ruseconf.com/archive/2017">RuseConf 2017</a>
      <p>16 Декември 2017, Зала Сименс на Русенски университет „Ангел Кънчев“ (зала 2Г.204).</p>
    </li>
    <li>
      <a class="logo" href="https://ruseconf.com/archive/2016">
	<img src="/system/uploads/event/logo/22/thumb_image.png?1724174203?1724174203" alt="Thumb image" />
      </a>
      <a href="https://ruseconf.com/archive/2016">RuseConf 2016</a>
      <p>08 Октомври 2016, Русенски университет &quot;Ангел Кънчев&quot;, 2 корпус, зала 2.101</p>
    </li>
    <li>
      <a class="logo" href="https://ruseconf.com/archive/2015">
	<img src="/system/uploads/event/logo/16/thumb_image.png?1445197029?1445197029" alt="Thumb image" />
      </a>
      <a href="https://ruseconf.com/archive/2015">RuseConf 2015</a>
      <p>17 Октомври 2015, Русенски университет &quot;Ангел Кънчев&quot;, 2 корпус, зала 2.101</p>
    </li>
    <li>
      <a class="logo" href="https://ruseconf.com/archive/2014">
	<img src="/system/uploads/event/logo/11/thumb_image.png?1412696146?1412696146" alt="Thumb image" />
      </a>
      <a href="https://ruseconf.com/archive/2014">RuseConf 2014</a>
      <p>04 Октомври 2014, Русенски университет &quot;Ангел Кънчев&quot;, 2 корпус, зала 2.101</p>
    </li>
  </ul>
</article>
