<article id="archive">
	<h1>Архив</h1>

	<ul>
	{% for archived_event in site.archive reversed %}
		<li>
			<a class="logo" href="{{ page.base_uri }}archive/{{ archived_event.event }}">
				<img src="{{ page.base_uri }}archive/{{ archived_event.event }}/thumb_image.png"
					alt="{{ archived_event.conference }} {{ archived_event.event }}" />
			</a>
		<a href="{{ page.base_uri }}archive/{{ archived_event.event }}">
			{{ archived_event.conference }} {{ archived_event.event }}</a>
		<p>{{ archived_event.formatted_date }}, {{ archived_event.venue_name }}</p>
		</li>
	{% endfor %}
	</ul>
</article>
