---
# https://github.com/it-tour-bg/it-tour/blob/master/app/views/layouts/application.html.slim
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.conference }} {{ page.event }}</title>
    <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300,400italic,400,700italic,700&amp;subset=latin,cyrillic" />
    <link rel="stylesheet" media="screen" href="{{ page.base_uri }}/assets/application.css" />

    <meta content="index,follow,noydir,noodp" name="robots" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
    <meta content="© {{ site.time | date: '%Y' }} IT Tour." name="copyright" />
    <meta content="{{ page.conference }}" property="og:site_name" />
    <meta content="{{ page.conference }}" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="{{ page.base_uri }}" property="og:url" />
    <link href="{{ page.base_uri }}/archive/{{ page.event }}/logo.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta content="{{ page.base_uri }}/archive/{{ page.event }}/logo.png" property="og:image" />

    {% include google-analytics.html %}

  </head>
  <body id="top">

    <header>
      <div style="background-image: url({{ page.base_uri }}/archive/{{ page.event }}/cover.png)"></div>
      <a href="/">
        <img alt="{{ page.conference }}" src="{{ page.base_uri }}/archive/{{ page.event }}/logo.png" />
      </a>
    </header>

    <nav style="border-top-color: {{ page.event_color }}">
      <div>
        <span>

	  {% if page.dates_announced %}
	  	<a href="#when">Кога</a>
	  {% endif %}

	  {% if page.venue_announced %}
	  	<a href="#venue">Къде</a>
	  {% endif %}

	  {% if page.sessions_announced %}
	  	<a href="#schedule">Програма</a>
	  {% endif %}

	  {% if page.show_sponsor_embed %}
	  	<a href="#sponsors">Спонсори</a>
	  {% endif %}

	  {% if page.speakers_announced %}
	  	<a href="#speakers">Лектори</a>
	  {% endif %}

	  {% if page.after_party_announced %}
	  	<a href="#after-party">Афтър парти</a>
	  {% endif %}

	  <a href="#archive">Архив</a>

        </span>
      </div>
    </nav>

    <article id="when">
      <div class="about">
        <p>{{ page.event_about }}
        <p>RuseConf е безплатна техническа конференция, част от IT Турнето – пътуващи из България конференции, инициирани от група ентусиасти. Поредното издание на събитието се организира с подкрепата на Русенски университет „Ангел Кънчев“.</p>
      </div>
      <h2>{{ page.formatted_date }}</h2>
      <section>
        <div class="state">Събитието завърши</div>
      </section>
      <section>
        <span class="entrance"> вход свободен</span>
        <a class="facebook" target="_blank" href="https://www.facebook.com/events/1004261434527383/"> cъбитието във facebook</a>
      </section>
    </article>

    <article id="venue">
      <h2>Къде?</h2>
      <div class="map">
        <iframe height="500" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=25.967790484428406%2C43.85256793116109%2C25.975606441497803%2C43.85754637394966&amp;layer=mapnik&amp;marker=43.85505720450864%2C25.971698462963104" width="100%"></iframe>
        <a target="blank" class="overlay" href="https://www.openstreetmap.org/export/embed.html?bbox=25.967790484428406%2C43.85256793116109%2C25.975606441497803%2C43.85754637394966&amp;layer=mapnik&amp;marker=43.85505720450864%2C25.971698462963104"></a>
      </div>
      <section>
        <a target="_blank" href="">Зала 2.101 на Русенски университет „Ангел Кънчев“</a>
        <address></address>
        <address></address>
      </section>
    </article>
    <article id="schedule">
      <h1>Програма</h1>
      <section>
        <ol>
          <li>
            <time>10:30</time>
            <strong>Кафе</strong>
          </li>
          <li>
            <time>10:50</time>
            <strong>Откриване</strong>
          </li>
          <li>
            <time>11:00</time>
            <strong>Essential Modern C++</strong>
            <a class="speaker" href="#speaker-185">Благовест Буюклиев</a>
          </li>
          <li>
            <time>11:50</time>
            <strong>Legacy code - какво представлява и как да се справим с него</strong>
            <a class="speaker" href="#speaker-198">Александра Митева</a>
          </li>
          <li>
            <time>12:40</time>
            <strong>Code Reviews + Pull Requests: Защо, Кога и Как?</strong>
            <a class="speaker" href="#speaker-199">Калоян Цветков</a>
          </li>
          <li>
            <time>13:20</time>
            <strong>Обяд</strong>
          </li>
          <li>
            <time>14:30</time>
            <strong>The World of PWA: Native Features Powered by Web APIs</strong>
            <a class="speaker" href="#speaker-200">Стефан Неделчев</a>
          </li>
          <li>
            <time>15:20</time>
            <strong>Уеб разработка по габровски: Максимум резултат с нулев бюджет</strong>
            <a class="speaker" href="#speaker-63">Любомир Филипов</a>
          </li>
          <li>
            <time>16:00</time>
            <strong>Почивка</strong>
          </li>
          <li>
            <time>16:20</time>
            <strong>Къде да се интегрира първо GenAI?</strong>
            <a class="speaker" href="#speaker-201">Александър Йорданов</a>
          </li>
          <li>
            <time>17:10</time>
            <strong>Как да изгасим/светнем лампите на съседа</strong>
            <a class="speaker" href="#speaker-205">Йордан Йорданов</a>
          </li>
          <li>
            <time>18:00</time>
            <strong>Lightning talks</strong>
          </li>
          <li>
            <time>18:30</time>
            <strong>Закриване</strong>
          </li>
          <li>
            <time>20:00</time>
            <strong>Афтърпарти</strong>
          </li>
        </ol>
      </section>
    </article>
    <article id="sponsors">
      <h1>Спонсори</h1>
      <section>
        <h2 style="margin: 0 50px 30px; text-align: center; border-bottom: 1px solid #000">Златни</h2>
        <section style="text-align: center; margin: 0 50px 100px 50px;">
          <a href="https://business.1forfit.com/" target="_blank" style="border: none;">
            <img src="https://ruseconf.com/system/uploads/sponsors/1forfit-cut.png" alt="1ForFit" height="80">
          </a>
        </section>
        <h2 style="margin: 0 50px 30px; font-size:2.5em; text-align: center; border-bottom: 1px solid #000">С медийната подкрепа на</h2>
        <section style="text-align: center; margin: 0 50px 50px 50px;">
          <a href="https://www.hackbulgaria.com/" target="_blank" style="border: none">
            <img src="https://varnaconf.com/system/uploads/sponsors/hackbulgaria.png" alt="Hack Bulgaria" width="100%">
          </a>
          <br>
          <br>
          <a href="https://dev.bg/varna/" target="_blank" style="border: none">
            <img src="https://varnaconf.com/system/uploads/sponsors/devbg-varna.png" alt="Dev.bg" width="100%">
          </a>
        </section>
      </section>
    </article>
    <article id="speakers">
      <h1>Лектори</h1>
      <section id="speaker-185">
        <a target="_blank" class="avatar" href="/speakers/185">
          <img src="/system/uploads/speaker/photo/185/thumb_image.jpg?1693158984?1693158984" alt="Thumb image" />
        </a>
        <h3>
          <a href="/speakers/185">Благовест Буюклиев</a>
        </h3>
        <div class="content">
          <p>Занимавам се с програмиране на приложения и системи от повече от 20 години и имам широк опит с най-различни технологични стекове и предимно с езици като C, Objective-C, Python и Perl. Топ потребител от Русе в сайта stackoverflow.</p>
        </div>
      </section>
      <section id="speaker-198">
        <a target="_blank" class="avatar" href="/speakers/198">
          <img src="/system/uploads/speaker/photo/198/thumb_image.jpg?1724846347?1724846347" alt="Thumb image" />
        </a>
        <h3>
          <a href="/speakers/198">Александра Митева</a>
        </h3>
        <div class="content">
          <p>Завърших МГ &quot;Баба Тонка&quot; и в момента съм студент във втори курс в Русенския университет със специалност Компютърни системи и технологии. Занимавам се с програмиране от 6 години, като през последната година работя като front-end програмист в 1ForFit.</p>
        </div>
      </section>
      <section id="speaker-199">
        <a target="_blank" class="avatar" href="/speakers/199">
          <img src="/system/uploads/speaker/photo/199/thumb_image.jpg?1724846590?1724846590" alt="Thumb image" />
        </a>
        <h3>
          <a href="/speakers/199">Калоян Цветков</a>
        </h3>
        <div class="content">
          <p>Калоян Цветков е работил през последните две десетилетия в една от най-добрите компании за електронна търговия – Upshot Commerce (преди Make-A-Store Inc, сега част от Mi9Retail), развивайки следващото поколение платформи за онлайн продажби от най-висок клас. Калоян е лектор, спонсор и организатор на много семинари и събития в град Русе, посветени на информационните технологии и предприемачеството. Той организира първите срещи на ИТ общността в Русе, на които се обсъждат идеи като формирането на сдружение или споделено работно място в града. Калоян е един от основателите на Startup Factory, и е участвал в много от проектите и идеите на сдружението.</p>
        </div>
      </section>
      <section id="speaker-200">
        <a target="_blank" class="avatar" href="/speakers/200">
          <img src="/system/uploads/speaker/photo/200/thumb_image.png?1724846686?1724846686" alt="Thumb image" />
        </a>
        <h3>
          <a href="/speakers/200">Стефан Неделчев</a>
        </h3>
        <div class="content">
          <p>Аз съм софтуерен инженер с вече 10г. опит в сферата, като последната половина от това приключение е съсредоточена във Front-end разработка на уеб и мобилни приложения. Силно ме вълнуват новостите в това направление и съм върл пропагандатор на адаптирането на PWA технологии и използването на пълния потенциал на модерните браузъри.</p>
        </div>
      </section>
      <section id="speaker-63">
        <a target="_blank" class="avatar" href="/speakers/63">
          <img src="/system/uploads/speaker/photo/63/thumb_image.png?1724943948?1724943948" alt="Thumb image" />
        </a>
        <h3>
          <a href="/speakers/63">Любомир Филипов</a>
        </h3>
        <div class="content">
          <p>Любомир Филипов e IT специалист с опит над 15г. Той е Group Architect и Deputy Program Manager на програма &quot;Polaris&quot;, която е част от международната софтуерна компания Jakala. Разработвал е различни софтуерни решения за агенции от Австралия, Германия, САЩ и Нова Зеландия. Той е лектор на международни конференции и преподавател по дисциплините PHP и Шаблони за софтуерен дизайн към ВТУ „Св. св. Кирил и Методий“. През последните 10 години активно организира турнири, хакатони, конференции, свързани с компютърните науки и е сертифициран възпитаник на Harvard Business School online, като специализира в Leadership and Management.</p>
        </div>
      </section>
      <section id="speaker-201">
        <a target="_blank" class="avatar" href="/speakers/201">
          <img src="/system/uploads/speaker/photo/201/thumb_image.png?1726297648?1726297648" alt="Thumb image" />
        </a>
        <h3>
          <a href="/speakers/201">Александър Йорданов</a>
        </h3>
        <div class="content">
          <p>Александър е част от Data Integration Practice към Адастра - глобална IT компания, базирана в Канада с развойни центрове в три континента – Северна Америка, Европа и Азия. Компанията е сред световните лидери в областта на: управление и анализ на данни; тяхната интеграция, трансформация и визуализация; DWH и Data Lake решения, както и консултантски услуги по изграждането и имплементирането на специфични облачни архитектури и решения в AWS, GCP и Azure. </p>
        </div>
      </section>
      <section id="speaker-205">
        <a target="_blank" class="avatar" href="/speakers/205">
          <img src="/system/uploads/speaker/photo/205/thumb_image.jpg?1726468798?1726468798" alt="Thumb image" />
        </a>
        <h3>
          <a href="/speakers/205">Йордан Йорданов</a>
        </h3>
        <div class="content">
          <p>Студент КСТ, 3 курс в РУ. Софтуерната разработка му е страст още от 7 клас, а хардуера отпреди това. Обича всичко, свързано с технологиите.</p>
        </div>
      </section>
    </article>
    <article id="subscribe">
      <h1>Записвания</h1>
      <form novalidate="novalidate" class="simple_form new_subscriber" id="new_subscriber" action="/subscribers" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="VKQyLv/e6zFB15rIFHZld6pHORnxRYsJ72do5MwQfPFeRlN5SVbL9UzM5Kr4XvtYfUvypIA0t8QawyB9vlKktQ==" />
        <div class="input email optional subscriber_email">
          <label class="email optional control-label" for="subscriber_email">Aко искате да сте едни от първите уведомени за новини свързани с IT Tour, моля оставете email за контакт.</label>
          <input class="string email optional" type="email" name="subscriber[email]" id="subscriber_email" />
        </div>
        <input type="submit" name="commit" value="Добави" class="btn" />
      </form>
    </article>
    {% include archive.html %}

    <article id="more">
      <section>
        <div class="contact">Контакти: <br />
          <a href="mailto:info@it-tour.bg">Екип</a>
          <div class="social">
            <a class="youtube" title="YouTube" href="https://youtube.com/channel/UCti0I5OyGAtFlkFIZ5Kzp9g"></a>
          </div>
        </div>
        <div class="conferences">
		{% for conference in site.data.conferences %}
		    <a href="{{ conference.url }}">
		      {{ conference.name }}
		    </a>{% unless forloop.last %}, {% endunless %}
		{% endfor %}
        </div>
      </section>
    </article>

    <footer>
      <a href="https://it-tour.bg">www.it-tour.bg</a>
      <div class="copyright">
        <p>
          <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
            <img alt="Creative Commons License"
	    	src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-nd.png" />
          </a>
        </p>
        <p>&copy; 2014 &ndash; {{ site.time | date: '%Y' }} IT Tour</p>
      </div>
      <a class="top" title="Обратно нагоре" href="#top"></a>
    </footer>

    <script src="{{ page.base_uri }}/assets/application.js"></script>

    <!-- <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"></script>
    <script>
	    jQuery("[data-countdown]").each(function()
	    {
		    var t = jQuery(this)
		    var e = new Date(t.data("countdown"))
		    t.countdown({until:e,padZeroes:!0})
	    });

	    jQuery("body").scrollspy({selector:'> nav a'});

	    jQuery(function()
	    {
		    var t = 10+(jQuery("header").height()||0)
		    var e = jQuery("body")
		    var n = e.find("nav")

		    jQuery(window).on("scroll",function()
		    {
			    return n.toggleClass("sticky", jQuery(document).scrollTop()>=t)
		    }).trigger("scroll")
	    });
    </script> -->

  </body>
</html>
